<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
    </head>
    <body>
        {{> header}}
        <p>Projects stuff go in here</p>

        {{> footer}}
    </body>
</html>
